* {
	box-sizing:border-box;
}

body {
	font-size:100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:#333;
	background-color: #fff;
}
h1 {
	text-shadow: 1px 1px 1px #fff;
	font-family: "Marker Felt";
}
p {

}
a {

}
/* navigation */
ul {
	list-style:none;
	margin:0;
	padding:0;
}
	ul li {
		width: 32%;
		margin-left:1%;
		display:block;
		border-color:#333;
		border-style:solid;
		background-color: #f5f5f5;
		line-height:2;
		float:left;
		text-decoration: none;
		text-align: center;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
	}
	ul li a {
		width: 20%;
		text-decoration: none;
		color:black;
		font-size: 1.3em;
	}
	


/* header section */
header {
	position:relative;
}
	header h1 {
		display:none;
	}

/* Content section */
article#content {
	clear:left;
} 
/* where the css magic happens */
	article > section {
		display:none;
	}
	article > section.active {
		display:block;
	}
	article h1 {
		margin-bottom: .5em;
	}

	article ul {
		list-style: none;
		margin-bottom:3em;
	}
/* Aside */
aside {
	text-align: center;
}
	aside h1 {
		font-size:1.2em
	}
	aside img {
		margin-bottom:1em;
	}
/* Table's */
table
{
		text-align: center;
		padding-bottom:0.5em;
}
table th 
{
 		font-size: 1.5em;
 		margin-right : 1.5em;
 		padding-left:1.5em;
 		padding-bottom :0.5em;
}
table td
{
padding-left: 1.5em;
padding-bottom:0.5em;
}
/* Dead Simple Grid (c) 2012 Vladimir Agafonkin */

.col {
	padding: 0 .5em;
}
.row .row {
	margin: 0 -.5em;
}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

@media (max-width: 500px)
{
	nav ul li
	{
		width: 100%;
		margin-bottom:1%;
	}
}
@media only screen {
	.col {
		float: left;
		width: 100%;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}
/*
/* Smartphones (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
*/
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* Styles */
	nav
	{
		width: 32%;
	}
	.col {
		width:50%;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
}
/**********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
